{%extends 'goodsinfo/base.html'%}
{%block head%}
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
function add_goods(gid) {
//	alert(gid);

	$.get('/islogin/',function (data) {
		if(data.islogin){//已登录
			$.get('/cart/add_goods/',{'gid':gid},function (data) {
				if(data.isadd){
				    refresh();
					alert('购买成功');
				}else {
					alert('亲，小咪闹情绪呢，请稍后再试');
				}
			});
		}else{//未登录
			location.href = '/login/';
		}
	});

}
</script>
{%endblock head%}
{%block goodsdetail%}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{typegoods.ttitle}}</a>
	</div>
{%endblock goodsdetail%}
{%block lright%}
		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{typegoods.id}}_{{page.number}}_1/" {%if order_by == '1'%}class="active"{%endif%}>默认</a>
				<a href="/list{{typegoods.id}}_{{page.number}}_2/?desct={%if desct == '1'%}0{%else%}1{%endif%}" {%if order_by == '2'%}class="active"{%endif%}>价格</a>
				<a href="/list{{typegoods.id}}_{{page.number}}_3/" {%if order_by == '3'%}class="active"{%endif%}>人气</a>
				<!--<a>{{order_by}}</a>-->
			</div>
			<ul class="goods_type_list clearfix">
				{%for a in page%}
				<li>
					<a href="/detail{{a.id}}/"><img src="/static/{{a.gpic}}"></a>
					<h4><a href="detail.html">{{a.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{a.gprice}}</span>
						<span class="unit">{{a.gprice}}/{{a.gunit}}</span>
						<a href="javascript:add_goods({{a.id}});" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
			</ul>
			<div class="pagenation">
				{%if page.has_previous%}
				<a href="/list{{typegoods.id}}_1_{{order_by}}/?desct={{desct}}">首页</a>
				<a href="/list{{typegoods.id}}_{{page.number|add:-1}}_{{order_by}}/?desct={{desct}}"><上一页</a>
				{%endif%}
				{%for pindex in page_list%}
					{%if page.number == pindex%}
					<a href="/list{{typegoods.id}}_{{pindex}}_{{order_by}}/?desct={{desct}}" class="active">{{pindex}}</a>
					{%else%}
					<a href="/list{{typegoods.id}}_{{pindex}}_{{order_by}}/?desct={{desct}}">{{pindex}}</a>
					{%endif%}
				{%endfor%}
				{%if page.has_next%}
				<a href="/list{{typegoods.id}}_{{page.number|add:1}}_{{order_by}}/?desct={{desct}}">下一页></a>
				<a href="/list{{typegoods.id}}_{{page.paginator.num_pages}}_{{order_by}}/?desct={{desct}}">末页</a>
				{%endif%}
			</div>
		</div>
{%endblock lright%}