{%extends 'base.html'%}
{%block head%}
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		$(function () {
		    var PwdVal = true;
		    var UserVal = true;
		    var $uname = $('.name_input');
		    var $upwd = $('.pass_input');
			$uname.blur(function () {
				var len = $uname.val().length;

				if(len < 5 || len > 20)
				{
					$uname.next().html('请输入5-20个字符的用户名').show();
					UserVal = false;
				}else{
				    $uname.next().hide();
				    UserVal = true;
				}
            });
			$upwd.blur(function () {
				var len = $upwd.val().length;
				if(len < 8 || len > 20)
				{
					$('.pwd_error').html('密码最少8位，最长20位').show();
					PwdVal = false;
				}
				else
				{
					$('.pwd_error').hide();
					PwdVal = true;
				}
            });

            $('#form_submit').submit(function () {
			    $uname.blur();
			    $upwd.blur();
//			    alert(UserVal);
//			    alert(PwdVal);
			    if(UserVal == true && PwdVal == true){
			        return true;
                }
				else{
			        return false;
				}
            });
			//根据视图的返回值确定登陆状态
			function check() {
				if('{{type}}' == "0"){
				    UserVal = false;
					$uname.next().html('用户名不存在').show();
				}
				else{
				    $uname.next().hide();
				}
				if('{{type}}'=='1'){
				    PwdVal = false;
				    $upwd.next().html('密码错误').show();
				}
				else{
				    $('.pwd_error').hide()
				}
            }
			check();
        })
	</script>
{%endblock head%}
{%block body%}

	<div class="login_top clearfix">
		<a href="../goodsinfo/index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/register/">立即注册</a>
				</div>
				<div class="form_input">
					<form id='form_submit' method="post" action="/login_handle/">
						{%csrf_token%}
						<input type="text" name="user_name" value="{{uname}}" class="name_input" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<input type="password" name="user_pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="name_remb" value="1" checked="checked">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
{%endblock body%}